__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.git/
.github/
.cursor/
node_modules/
log.log
out.log
privVars.py
Dockerfile*
.dockerignore
*.log*
.env*
coverage/
.env*
coverage/
dist/
build/
*.log*
Dockerfile*
.dockerignore
.specify/
